:root{
    --primary-color: hsl(243, 87%, 12%);
    --secondary-color: hsl(238, 22%, 44%);

    --tertiary-color: hsl(224, 93%, 58%);
    --fouthary-color: hsl(170, 45%, 43%);

    --fifthary-color: hsl(240, 75%, 98%);
    --sixthary-color: hsl(0, 0%, 75%);
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
} 

h1,h2,h3,h4,h5,h6,nav {
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
}

ul{
    padding: 0;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: .3125rem .9375rem;

}

nav img{
    width: 25%;
    height: 25%;
}

nav ul li{
    display: inline-block;
    padding: .3125rem;
}

section{
    padding: .3125rem .9375rem;
    text-align: center;
}

.bg{
    width: 100%;
    padding-top: 3.125rem;
}

.illustration{
    max-width: 100%;
    padding-top: 6.25rem;
}

.productive-section{
    background-color: #f8f8fe;
}

.form-section input, .form-section button{
    padding: .625rem 0;
    margin: .625rem 0;
    width: 100%;
    border-radius: .3125rem;
}

.form-section input{
    border: .0625rem  solid var(--primary-color);
}

.form-section input::placeholder{
    padding-left: .9375rem;
}

.form-section button{
    background-color: var(--tertiary-color);
    color: var(--fifthary-color);
    border: none;
}

.container h1{
    font-size: 1rem;
}

.container p{
    text-align: left;
}

.fylo-link{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5625rem ;
}

.fylo-link a{
    color: var(--fouthary-color); 
    border-bottom: .125rem solid var(--fouthary-color);
    padding: .3125rem 0;
}

.fylo-link img{
    padding: .5rem  .3125rem;
    border-bottom: .125rem  solid var(--fouthary-color);
}

.card{
    padding: 1.875rem;
    margin: 3.125rem  0;
    text-align: left;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: .3125rem;
}


.personal-info{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: .9375rem;
}

.personal-info img{
    border-radius: 50%;
    width: 15%;
    height: 15%;
}

.personal-info h2,p{
    font-size: 1rem;
    margin: 0;
}

.personal-texts{
    margin: 0 .625rem;
}

.early-access-section{
    background-color: var(--secondary-color);
    color: var(--fifthary-color);
    padding: 1.875rem;
}

footer{
    background-color: var(--primary-color);
    color: var(--fifthary-color);
    width: 100%;
}

footer a{
    color: var(--fifthary-color);
}

footer ul{
    list-style: none;
    margin: 1.25rem 0;
}

footer ul li{
    padding: .625rem 0;
}

footer div{
    padding: 3.125rem;
}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 15.3125rem;
}

.socials li{
    border-radius: 50%;
    border: .0625rem solid white;
    width: 2.8125rem;
    height: 1.5625rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts li img{
    padding-right: .625rem ;
}

button{
    cursor: pointer;
}

@media screen and (min-width: 48rem){

    section{
        padding: 0 3.125rem;
    }

    nav{
        width: 100%;
    }

    nav img, nav ul{
        padding: 1.5625rem 3.125rem;
    }

    nav img{
        width: 6.25rem;
    }

    .overview, .productive-section{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        text-align: left;
    }

    .early-access-section{
        display: flex;

    }

    .early-access-section h1{ 
        margin-top: 0;

    }

    .illustration{
        padding: 0 0 0 3.125rem;
        max-width: 50%;
    }

    .sec-1{
       display: flex;
    }

    .sec-1 button{
        margin-left: .9375rem  ;
     }

    .sec-2{
        width: 50%;

    }

    .sec-2 button{
        width: 50%;
    }

    .early-access-section{
        width: 100%;
        padding: 0;
        text-align: left;
    }
    .early-access-section div{
        padding: 3.75rem 2.5rem ;
    }

    .fylo-link{
        justify-content: flex-start;
    }

    .card{
        width: 50%;
    }

    .grid-section{
        display: grid;
        grid-template-rows: 0.5fr 1fr;
        grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
        grid-template-areas: 
        "logo logo logo logo"
        "contacts links1 links2 socials";
    }

    .grid-section logo{
        grid-area: logo;
    }

    .grid-section .contacts{
        grid-area: contacts;
    }

    .grid-section .links-1{
        grid-area: links1;
    }
    .grid-section .links-2{
        grid-area: links2;
    }
    .grid-section .socials{
        grid-area: socials;
    }

    h1, .container h1{
        font-size: 2rem;
    }

    .container p{
        padding-top: .9375rem ;
    }

    .socials a{
        height: 1.25rem;
    }
}