:root{
    --primary-color: hsl(243, 87%, 12%);
    --secondary-color: hsl(238, 22%, 44%);

    --tertiary-color: hsl(224, 93%, 58%);
    --fouthary-color: hsl(170, 45%, 43%);

    --fifthary-color: hsl(240, 75%, 98%);
    --sixthary-color: hsl(0, 0%, 75%);
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
} 

h1,h2,h3,h4,h5,h6,nav {
    font-family: 'Raleway', sans-serif;
}
